{% extends 'layout.html' %}


{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui nemo adipisci est eaque nam voluptatum quod quidem numquam optio expedita neque amet corrupti, rem saepe ad error commodi tempore, voluptates earum. Unde aliquid, explicabo nihil eligendi esse harum obcaecati molestiae labore vitae, quidem, cumque sed doloribus. Sunt perferendis iure quas. Quod sapiente rem fugit temporibus ut voluptas pariatur doloribus aliquid quis praesentium. Tempore, assumenda atque. Ducimus ipsam quia voluptas hic consequatur necessitatibus commodi autem sapiente alias dicta nisi laborum quae doloribus, tenetur sint quas repellendus accusamus ex amet totam voluptates distinctio earum dolorem. Voluptatem nulla magnam numquam voluptatum nam dolore.</p>


{% endblock %}